# Global
.DS_Store

# Environment
.env
.env.*
!.env.example

docker/mysql/data/

# Symfony (API)
shinydex-api/var/
shinydex-api/vendor/

# React (Front)
shinydex-app/node_modules/
shinydex-app/dist/

# Logs
*.log

# IDE
.idea/
.vscode/
